<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
<title><%= @app['name'] %></title>

<!-- These are Open Graph tags.  They add meta data to your  -->
<!-- site that facebook uses when your content is shared     -->
<!-- over facebook.  You should fill these tags in with      -->
<!-- your data.  To learn more about Open Graph, visit       -->
<!-- 'https://developers.facebook.com/docs/opengraph/'       -->
<meta property="og:title" content="<%= @app['name'] %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= url %>" />
<meta property="og:image" content="<%= url('/logo.png') %>" />
<meta property="og:site_name" content="<%= @app['name'] %>" />
<meta property="og:description" content="Play all Youtube video published on Facebook feed." />
<meta property="fb:app_id" content="<%= @app['name'] %>" />

<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/suteki.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript" src="/scripts/suteki.js"></script>

<script type="text/javascript">
$(function(){
	// Create Youtube player and play
	swfobject.embedSWF("http://www.youtube.com/v/Pv7Es_V9zXE?enablejsapi=1&version=3", 
		"video", "760", "428", "8", null, null, { allowScriptAccess: "always" }, { id: "player" });
		
	// Add event listener
	$("#prev").click(function(){
		STK.prev();
	});
	$("#next").click(function(){
		STK.next();
	});
});

// Youtube player handlers
function onYouTubePlayerReady() {
	STK.player = document.getElementById("player");
	STK.player.addEventListener("onStateChange", "onYoutubePlayerStateChange");
	STK.player.addEventListener("onError", "onYoutubeError");
	STK.player.playVideo();
	STK.ready();
}
function onYoutubePlayerStateChange(newState) {
	if (newState === 0) {
		STK.next();
	}
}
function onYoutubeError(event) {
	STK.error();
}
</script>

<body>
<div id="fb-root"></div>
<script type="text/javascript">
window.fbAsyncInit = function() {
	FB.init({
    	appId      : "<%= @app['id'] %>",                     // App ID
		channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
		status     : true,                                    // check login status
		cookie     : true,                                    // enable cookies to allow the server to access the session
		xfbml      : true                                     // parse XFBML
	});

	FB.Canvas.setAutoGrow();

	// Call for this application login
    STK.login();
};

// Load the SDK Asynchronously
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="wrapper">
	<div id="video"></div>	<!-- Will remove by swfobject.embedSWF -->
	<div id="video_control_container" style="opacity:0">
    	<input type="button" id="prev" class="btn video_control" value="▲" />
    	<input type="button" id="next" class="btn video_control" value="▼" />
    	<span id="video_title"></span>
	</div>
	<div id="play_list_container" style="opacity:0">
		<table id="play_list" class="condensed-table"></table>
	</div>
</div>
</body>
</html>